@font-face {
    font-family: 'YoonChildfundkoreaManSeh';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/YoonChildfundkoreaManSeh.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #eb8352;
    padding: 0;
    margin: 0;
}

.head-container {
    width: 100%;
    text-align: center;
    border-bottom: 3px solid #1f4270;
}

.head-container h1 {
    font-weight: 100;
    color: #dddf4d;
    font-family: "YoonChildfundkoreaManSeh", serif;
}

.head-container p {
    font-weight: bold;
    margin-top: 0;
    color: #dddf4d;
    font-family: "YoonChildfundkoreaManSeh", serif;
}

.menu-container-header {
    color: #ccd6de;
    background-color: #1f4270;
    text-align: center;
}

.menu-card-wrapper {
    display: flex;
    justify-content: center;
}

.img-wrapper {
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    width: 100%;           /* 혹은 원하는 너비 지정 */
    aspect-ratio: 1 / 1;   /* 1:1 비율 유지 */
    overflow: hidden;      /* 넘치는 이미지 숨김 */
    border: 7px solid #656623;
    border-radius: 3px;
}

.menu-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;     /* 비율 유지하며 꽉 채움 */
    transform: translate(-50%, -50%);
    background-color: tan;
}

.menu-name {
    font-weight: bold;
    color: #1f4270;
    font-family: "YoonChildfundkoreaManSeh", serif;
}

.menu-detail {
    font-weight: bold;
    color: #1f4270;
    font-family: "YoonChildfundkoreaManSeh", serif;
}

footer {
    color: #dddf4d;
    font-family: "YoonChildfundkoreaManSeh", serif;
    background-color: #1f4270;
    width: 100%;
}

@media (min-width: 1025px) {
    .head-container {
        margin-top: 100px;
    }
    
    .head-container h1 {
        font-size: 30px;
    }
    
    .head-container p {
        font-size: 60px;
    }
    
    .menu-container-wrapper {
        margin-bottom: 100px;
    }
    
    .menu-container-header {
        padding: 20px 0 20px 0;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 80px;
    }
    
    .menu-card-wrapper {
        gap: 100px;
        margin-bottom: 80px;
    }
    
    .menu-card {
        width: 300px;
    }
    
    .menu-name {
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .menu-detail {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    footer {
        width: 100%;
        height: 300px;
        padding: 30px;
    }

    .wrapper {
        width: 90%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .head-container {
        margin-top: 70px;
    }
    
    .head-container h1 {
        font-size: 30px;
    }
    
    .head-container p {
        font-size: 60px;
    }
    
    .menu-container-wrapper {
        margin-bottom: 70px;
    }
    
    .menu-container-header {
        padding: 15px 0 15px 0;
        font-size: 25px;
        margin-top: 7px;
        margin-bottom: 65px;
    }
    
    .menu-card-wrapper {
        gap: 100px;
        margin-bottom: 80px;
    }
    
    .menu-card {
        width: 300px;
    }
    
    .menu-name {
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .menu-detail {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    footer {
        height: 300px;
        padding: 30px;
    }

    .wrapper {
        width: 90%;
    }
}

@media (max-width: 768px) {    
    .head-container {
        margin-top: 50px;
    }
    
    .head-container h1 {
        font-size: 30px;
    }
    
    .head-container p {
        font-size: 60px;
    }
    
    .menu-container-wrapper {
        margin-bottom: 50px;
    }
    
    .menu-container-header {
        padding: 13px 0 13px 0;
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 50px;
    }
    
    .menu-card-wrapper {
        gap: 20px;
        margin-bottom: 40px;
    }
    
    .menu-card {
        width: 150px;
    }
    
    .menu-name {
        font-size: 17px;
        margin-bottom: 6px;
    }
    
    .menu-detail {
        font-size: 13px;
        margin-bottom: 7px;
    }
    
    footer {
        height: 300px;
        padding: 30px;
    }

    .wrapper {
        width: 90%;
    }
}